<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>404</title>

    <style type="text/css" th:inline="css">
        .head404 {
            width: 580px;
            height: 234px;
            margin: 200px auto 0 auto;
            background: url([[ @{/img/head404.png} ]]) no-repeat;
        }
        
        body {
            background-color: #494949;
        }
    </style>

</head>



<body>
    <div class="head404"></div>
</body>

</html>